<<<<<<< Updated upstream
h1, h2 {
    font-family: 'Oswald', 'sans';
}
body {
    font-family: 'open sans', 'sans';
    color: darkblue;
    margin: 10px 50px 10px 50px;
    width: 950px;
    background-color: ivory;
}
img {
    float: left;
=======
h1, h2 {
    font-family: 'Oswald', 'sans';
}
body {
    font-family: 'open sans', 'sans';
    color: darkblue;
    margin: 10px 50px 10px 50px;
    width: 950px;
    background-color: ivory;
}
img {
    float: left;
>>>>>>> Stashed changes
}